.history-detail {
    .desc {
        font-weight: 300;
        font-family: 'Roboto';
    }
    pre {
        font-weight: 300;
        ins {
            
            color: rgb(120, 171, 120);
        }

        del {
            color: rgb(158, 79, 79);
        }
    }
}