.queues {
    table {
        font-size: 12px;
        font-weight: 300;
        margin-left: -8px;
    }
    

    h4 {
        margin-bottom: 5px;
    }

    .desc {
        font-size: 14px;
        font-weight: 300;
    }

    .desc, .checked p, .statistics, .table {
        font-family: 'Roboto';
    }

    .length.checked {
        font-weight: 700;
        color: rgb(120, 171, 120);
    }

    .length.mistakes {
        color: rgb(158, 79, 79);
    }

    .checked {
        padding-left: 0;
    }

    .statistics {
        dl {
            font-size: 12px;
        }
    }

    .tabs-menu {
        margin-bottom: 0;


        p {
            font-weight: 300;
        }
    }
    .table {
        th {
            font-weight: 500;
            font-size: 12px;
        }
        td {
            line-height: 2;

            a {
                display: none;
            }
        }

        tr:hover {
            a {
                display: inline-block;;
            }
        }
    }

    .work-type {
        width: 220px;
    }

    .length {
        font-weight: 500;
        text-align: right;

        width: 80px;

    }

    .btn {
        font-weight: 300;
    }


    .salary {
        margin-bottom: 30px;
    }
}