<h3>История вашей работы – {{ currentUser.work_length | number : 0 }} знаков</h3>
<section class="queues row-fluid">
    <div class="col-md-6 checked">
        <h4>Проверенные</h4>
        <section class="statistics" ng-repeat="stat in statistics" ng-show="stat.work_length > 0">
            <h5>{{ statisticsDescription[$index] }} – {{ stat.work_length - stat.mistakes_length }} символов</h5>
            <dl class="dl-horizontal">
              <dt>Набрано символов</dt>
              <dd>{{ stat.work_length }}</dd>
              <dt>Исправленно</dt>
              <dd>{{ stat.mistakes_length }}</dd>
              <dt>Распознано записи</dt>
              <dd>{{ stat.duration_transcribe | humanSeconds }}</dd>
              <dt>Вычитано записи</dt>
              <dd>{{ stat.duration_check | humanSeconds }}</dd>
            </dl>
        </section>
        <p ng-show="statistics[statistics.length-1].work_length == 0">
            Ваши записи ещё не проверили.
        </p>
    </div>
    <div class="col-md-6" ng-show="uncheckedStatistics.work_length">
        <h4>Ожидают проверки – {{ uncheckedStatistics.work_length }} символов</h4>
        <table class="table">
            <tr>
                <th>Задача</th>
                <th>Количество символов</th>
                <th>Время набора</th>
            </tr>
            <tr ng-repeat="queue in uncheckedQueues.results">
                <td>
                    {{ queue.duration | humanSeconds }} {{ queue.work_type == 0 ? "транскрибации" : "вычитки" }}
                </td>
                <td>
                    {{ queue.work_length }}
                </td>
                <td>
                    {{ queue.completed }}
                </td>
            </tr>
        </table>
        <pagination ng-show="uncheckedQueues.count > 10" total-items="uncheckedQueues.count" ng-model="uncheckedQueuePage" max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="pageChanged()"></pagination>
    </div>
</section>