.queues {
    table {
        font-size: 12px;
        font-weight: 300;
        margin-left: -8px;
    }

    .checked {
        padding-left: 0;
    }

    .statistics {
        dl {
            font-size: 12px;
        }
    }
}