Django==1.7.1
django-rq==0.7.0    # Async process
djangorestframework==3.0.1 # REST API
markdown==2.5.2       # Markdown support for the browsable API.
django-filter==0.9.1  # Filtering support
mysql-python==1.2.5
http://voiceid.googlecode.com/svn/trunk#egg=voiceid # Скопировать voiceid и LIAM а local/share/voiceid/
numpy==1.9.1
pydub==0.9.5
boto
django-storages
django-s3-folder-storage

# sudo apt-add-repository ppa:jon-severinsson/ffmpeg 
# sudo add-apt-repository ppa:gstreamer-developers/ppa
# sudo add-apt-repository ppa:webupd8team/java

# sudo apt-get update
# sudo apt-get upgrade
# sudo apt-get install pip libmysqlclient-dev subversion sox python-dev
# sudo apt-get install gstreamer0.10-tools gstreamer-tools gstreamer0.10-plugins-base gstreamer0.10-plugins-good gstreamer0.10-plugins-bad
# sudo apt-get install ffmpeg
# sudo apt-get install oracle-java7-installer
#pip
#virtualenv
#libmysqlclient-dev
#subversion
#sox
#java > 1.6
#gstremer
#mp3split
#sudo apt-get install python-gst0.10 gstreamer0.10-plugins-good \
#    gstreamer0.10-plugins-ugly
#sudo apt-get install gstreamer1.0* - переименовать с /usr/bin/gst-launch1.0 to gst-launch
#sudo apt-get install python-dev
#redis-server
#uwsgi
#ffmpeg https://gist.githubusercontent.com/xdamman/e4f713c8cd1a389a5917/raw/17c0999cf4e757f7d38c5e808f1f810fd378bcee/install_ffmpeg_ubuntu.sh
