<section class="header index__header" ng-controller="authController">
    {% verbatim %}
    <div class="header__container">
        <h1>
            {{ 'Стенограф' | translate }}
        </h1>
        <ul class="nav nav-pills controls">
            <li>
                <button class="btn btn-default btn-xs" ng-hide="Data.user.id" ng-click="open()">Войти с паролем</button>
            </li>
            <li role="presentation" ng-class="getClass('/')"><a href="/#/">Загрузить запись</a></li>
            <li role="presentation" ng-class="getClass('/records/')" ng-show="Data.user.id" ng-show="user.records"><a href="/#/records/">Ваши записи<span class="badge">{{ Data.user.records.length }}</span></a></li>
            <li role="presentation" ng-class="getClass('/transcribe/')"><a href="/#/transcribe">Поработать</a></li>
            <li role="presentation" class="header__account">
                <div class="btn-group" dropdown ng-show="Data.user.id">
                    <button type="button" class="btn btn-default btn-xs">{{ Data.user.username }}</button>
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" dropdown-toggle>
                        <span class="caret"></span>
                        <span class="sr-only">Ещё</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Оплата</a></li>
                        <li class="divider"></li>
                        <li><a href="#" ng-click="logout()">Выход</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    {% endverbatim %}
</section>
