
<div ng-show="queue.duration > 0">

<div class="instruction" ng-show="queue.work_type == 0">
    <h4>Напечатайте, что говорят в записи</h4>
</div>

<div class="instruction" ng-show="queue.work_type == 1">
    <h4>Послушайте запись и исправьте ошибки в транскрибции</h2>
    <p class="desc">
        За проверку заработаете <strong>{{ queue.total_price * 100 | number : 0 }} копеек</strong>, плюс <strong>1 копейка</strong> за каждое исправление.
    </p>

</div>

<div class="work-player">
    <tn-player audio-file="{{ queue.audio_file }}"></tn-player>    

    <ul class="hotkeys-cheatsheet list-inline">
        <li><span class="hotkeys-key">esc</span> – проигрывать или пауза</li>
        <li><span class="hotkeys-key">alt + &larr;</span> – перемотать назад</li>
        <li><span class="hotkeys-key">alt + &rarr;</span> – перемотать вперёд</li>
    </ul>
</div>

<div class="transcription row">
    <div class="col-xs-9">
        <p class="offset-top col-md-offset-1" ng-show="queue.work_type && queue.offset_parts[0]">...{{ queue.offset_parts[0] }}</p>

        <ul class="queue-transcriptions" ng-repeat="piece in queue.pieces">
            <li class="row" ng-repeat="transcription in piece.transcriptions">
                <div class="speakers-block col-md-1" ng-mouseover="transcription.speakerHover = 1" ng-mouseleave="transcription.speakerHover = 0">
                        <div class="speakers" ng-show="transcription.speakerHover" >
                            <div class="genders">
                                <i class="speaker-3 fa" ng-click="selectSpeaker(transcription, 3)" ng-class="transcription.gender == 'F' ? 'fa-female' : 'fa-male'"></i>
                                <i class="speaker-2 fa" ng-click="selectSpeaker(transcription, 2)" ng-class="transcription.gender == 'F' ? 'fa-female' : 'fa-male'"></i>
                                <i class="speaker-1 fa" ng-click="selectSpeaker(transcription, 1)" ng-class="transcription.gender == 'F' ? 'fa-female' : 'fa-male'"></i>
                            </div>

                            <div class="genders">
                                <i class="speaker-3 fa" ng-click="selectSpeaker(transcription, 3, false)" ng-class="transcription.gender == 'F' ? 'fa-male' : 'fa-female'"></i>
                                <i class="speaker-2 fa" ng-click="selectSpeaker(transcription, 2, false)" ng-class="transcription.gender == 'F' ? 'fa-male' : 'fa-female'"></i>
                                <i class="speaker-1 fa" ng-click="selectSpeaker(transcription, 1, false)" ng-class="transcription.gender == 'F' ? 'fa-male' : 'fa-female'"></i>
                            </div>
                        </div>
                        
                        <i class="fa speaker" ng-class="[transcription.gender == 'F' ? 'fa-female' : 'fa-male', transcription.speaker_code[1] > 0 ? 'speaker-' + transcription.speaker_code[1] : 'speaker-1']"></i>
                    </a>

                    <i class="triangle"></i>
                </div>
                
                <div class="col-md-11 text-block">
                    <textarea class="transcriptions msd-elastic" data-ng-model="transcription.text" data-piece="{{ piece.id }}" data-index="{{ $index }}" tabindex="1"></textarea>
                </div>

                <div class="clearfix visible-xs-block"></div>
            </li>

        </ul>

        <ul class="queue-transcriptions" ng-hide="(queue.work_type == 1 || queue.saving) && originalTranscriptions.length > 0">
            <li class="row">
                <div class="speakers-block col-md-1" ng-mouseover="newTranscription.speakerHover = 1" ng-mouseleave="newTranscription.speakerHover = 0">
                        <div class="speakers" ng-show="newTranscription.speakerHover" >
                            <div class="genders">
                                <i class="speaker-3 fa" ng-click="selectSpeaker(newTranscription, 3)" ng-class="newTranscription.gender == 'F' ? 'fa-female' : 'fa-male'"></i>
                                <i class="speaker-2 fa" ng-click="selectSpeaker(newTranscription, 2)" ng-class="newTranscription.gender == 'F' ? 'fa-female' : 'fa-male'"></i>
                                <i class="speaker-1 fa" ng-click="selectSpeaker(newTranscription, 1)" ng-class="newTranscription.gender == 'F' ? 'fa-female' : 'fa-male'"></i>
                            </div>

                            <div class="genders">
                                <i class="speaker-3 fa" ng-click="selectSpeaker(newTranscription, 3, false)" ng-class="newTranscription.gender == 'F' ? 'fa-male' : 'fa-female'"></i>
                                <i class="speaker-2 fa" ng-click="selectSpeaker(newTranscription, 2, false)" ng-class="newTranscription.gender == 'F' ? 'fa-male' : 'fa-female'"></i>
                                <i class="speaker-1 fa" ng-click="selectSpeaker(newTranscription, 1, false)" ng-class="newTranscription.gender == 'F' ? 'fa-male' : 'fa-female'"></i>
                            </div>
                        </div>
                        
                        <i class="fa speaker" ng-class="[newTranscription.gender == 'F' ? 'fa-female' : 'fa-male', newTranscription.speaker_code[1] > 0 ? 'speaker-' + newTranscription.speaker_code[1] : 'speaker-1']"></i>
                    </a>

                    <i class="triangle"></i>
                </div>
                
                <div class="col-md-11 text-block">
                    <textarea id="new-transcription" class="transcriptions msd-elastic" data-ng-model="newTranscription.text" autofocus tabindex="2"></textarea>
                </div>
            </li>
        </ul>
        
        <p class="offset-bottom col-md-offset-1" ng-show="queue.work_type && queue.offset_parts[1]">{{ queue.offset_parts[1] }}...</p>
        
        
        <section class="controls col-md-offset-1">
            <ul class="list-unstyled pull-left">
                <li>
                    <button class="skip btn btn-default btn-xs" 
                    ng-click="loadQueue(true)" tabindex="5">Пропустить задачу</button>
                </li>
                <li ng-show="queue.work_type == 0 || originalTranscriptions.length == 0"><p class="desc">Можете пропустить задачу просто так<br/>или если запись пустая или речь неразборчивая, пометьте это</p></li>
                <li ng-show="queue.work_type == 0 || originalTranscriptions.length == 0"><a class="btn btn-warning btn-xs" ng-click="poorRecord()" tabindex="6">Запись неразборчивая</a></li>     
            </ul>
            <!--  -->

            <div class="pull-right">
                <p>
                    Заработали <strong>{{ earnMoneyValue() | number : 2 }} ₽</strong>
                </p>
                <button class="btn btn-primary" 
                        ng-click="saveTranscription()" tabindex="3">Отправить на проверку</button>
                <p>
                    <kbd>ctrl+enter</kbd>
                </p>
            </div>
            
        </section>
    </div>
    <div class="col-xs-3">
        <section class="suggest">
            <h6>Случайный совет</h6>
            <p ng-bind-html="suggest" tabindex="4"></p>
        </section>
    </div>
</div>

</div>