text {
    font-family: 'Roboto Slab';
    fill: #000000;
}
tspan {
    letter-spacing: -9px;
}
#name {
    font-size: 40px;
    font-weight: 300;
}

#ninja {
    font-size: 28px;
    font-weight: 100;
    fill: #FFFFFF;
}