.mainpage {
    float: none;
    margin-left: auto;
    margin-right: auto;

    width: 677px;

    margin-top: 200px;

    li {
        height: 200px;
        vertical-align: middle;
    }
    text {
        font-family: 'Roboto Slab';
        fill: #000000;
    }
    tspan {
        letter-spacing: -9px;
    }

    

    #logotype {
        transform: scale(0.7);
    }
    #name {
        font-size: 40px;
        font-weight: 300;
    }

    #ninja {
        font-size: 28px;
        font-weight: 100;
        fill: #FFFFFF;
    }

    .upload, .transcribe {
        margin-top: 0;
        

        text-align: left;

        p {
            padding-top: 5px;
            font-weight: 300;
            font-size: 12px;

            strong {
                font-weight: 500;
            }
        }
    
        a {
            font-size: 12px;
            font-weight: 300;
        }
        
        .price {
            p {
                padding: 0;
                margin: 0;
            }

            .summ {
                font-size: 20px;
                font-weight: 400;
            }
        }
    }

    .logo {
        width: 250px;
        
        text-align: center;
    
        svg {
            width: 300px;
            height: 160px;
            padding-left: 33px;
        }
    }

    .upload {
        width: 200px;
        padding-top: 70px;
    }

    .transcribe {
        width: 220px;
        padding-top: 76px;

        strong {
            font-weight: 400;
        }
    }

}