<div ng-show="queue.duration > 0">

<div class="instruction">
    Переведите <span class="green">выделенный кусок</span> в текст
    <p>
        За {{ queue.duration | humanSeconds }} транскрибции получите примерно <strong>{{ queue.duration / 60 * 1000 * 0.015 | number : 2 }} ₷</strong>
    </p>
</div>

<div id="player">

</div>

<button class="btn btn-default btn-circle record_detail__play" ng-click="wavesurfer.playPause()"><i class="fa fa-play"></i></button>

<div class="transcription row">
    <div class="col-xs-12 col-md-8">
        <ul class="queue-transcriptions" ng-repeat="piece in queue.pieces">
            <li ng-repeat="transcription in piece.transcriptions">
                <textarea type="text" data-piece="{{ piece.id }}" data-index="{{ $index }}">{{ transcription.text }}</textarea>
            </li>
            <li>
                <textarea id="new-transcription"></textarea>
            </li>
        </ul>

        <button class="btn btn-default btn-xs" 
                ng-click="loadQueue()">Пропустить задачу</button>

        <button class="btn btn-primary pull-right" 
                ng-click="saveTranscription()">Отправить на проверку</button>
    </div>
    <div class="col-xs-6 col-md-4">
        
    </div>
</div>

</div>