
<div ng-show="queue.duration > 0">

<div class="instruction">
    Напечатайте, что говорит {{ queue.pieces.0.speaker == "F" ? "женщина" : "мужчина" }} в <span class="green">выделенном куске</span>
    <p>
        За стенографирование {{ queue.duration | humanSeconds }} заработаете около <strong>{{ queue.total_price | number : 2 }} ₷</strong>
    </p>
</div>

<tn-player audio-file="{{ queue.audio_file }}"></tn-player>

<div class="transcription row">
    <div class="col-xs-12 col-md-8">
        <ul class="hotkeys-cheatsheet list-inline">
            <li><span class="hotkeys-key">esc</span> – проигрывать или пауза</li>
            <li><span class="hotkeys-key">alt + &larr;</span> – перемотать назад</li>
            <li><span class="hotkeys-key">alt + &rarr;</span> – перемотать вперёд</li>
        </ul>

        <ul class="queue-transcriptions" ng-show="queue.offset_parts.0">
            <li>
                <p>{{ queue.offset_parts.0 }}</p>
            </li>
        </ul>

        <ul class="queue-transcriptions" ng-repeat="piece in queue.pieces">
            <li ng-repeat="transcription in piece.transcriptions">
                <textarea class="msd-elastic" data-ng-model="transcription.text" data-piece="{{ piece.id }}" data-index="{{ $index }}"></textarea>
            </li>
        </ul>

        <ul class="queue-transcriptions">
            <li>
                <textarea id="new-transcription" class="msd-elastic" data-ng-model="newTranscription"></textarea>
            </li>
        </ul>

        <ul class="queue-transcriptions" ng-show="queue.offset_parts.1">
            <li>
                <p>{{ queue.offset_parts.1 }}</p>
            </li>
        </ul>
        

        <button class="btn btn-default btn-xs" 
                ng-click="loadQueue()">Пропустить задачу</button>

        <div class="pull-right">
            <p>
                Заработали  <strong>{{ earnMoneyValue() | number : 2 }} ₷</strong>
            </p>
            <button class="btn btn-primary" 
                    ng-click="saveTranscription()">Отправить на проверку</button>
        </div>
    </div>
    <div class="col-xs-6 col-md-4">
        
    </div>
</div>

</div>