<div ng-show="queue.duration > 0">

<div class="instruction">
    Переведите <span class="green">выделенный кусок</span> в текст
    <p>
        За стенографирование {{ queue.duration | humanSeconds }} заработаете около <strong>{{ queue.duration / 60 * 1000 * queue.price | number : 2 }} ₷</strong>
    </p>
</div>

<div id="player">

</div>

<button class="btn btn-default btn-circle record_detail__play" ng-click="wavesurfer.playPause()"><i class="fa fa-play"></i></button>

<div class="transcription row">
    <div class="col-xs-12 col-md-8">
        <ul class="queue-transcriptions" ng-show="queue.previous_part">
            <li>
                {{ queue.previous_part }}
            </li>
        </ul>

        <ul class="queue-transcriptions" ng-repeat="piece in queue.pieces">
            <li ng-repeat="transcription in piece.transcriptions">
                <textarea type="text" data-piece="{{ piece.id }}" data-index="{{ $index }}">{{ transcription.text }}</textarea>
            </li>
            <li>
                <textarea id="new-transcription"></textarea>
            </li>
        </ul>

        <ul class="queue-transcriptions" ng-show="queue.next_part">
            <li>
                {{ queue.next_part }}
            </li>
        </ul>
        

        <button class="btn btn-default btn-xs" 
                ng-click="loadQueue()">Пропустить задачу</button>

        <div class="pull-right">
            <p>
                Заработали  <strong>{{ earnMoneyValue() | number : 2 }} ₷</strong>
            </p>
            <button class="btn btn-primary" 
                    ng-click="saveTranscription()">Отправить на проверку</button>
        </div>
    </div>
    <div class="col-xs-6 col-md-4">
        
    </div>
</div>

</div>