<div class="records-upload" 
    ng-controller="RecordUploadCtrl">
    <a href class="btn btn-default" ng-click="upload()">
        <i class="fa fa-microphone fa-lg"></i> Загрузить запись</a>
    <input id="record-upload" type="file" accept="audio/*" nv-file-select="" uploader="uploader" />
    <span class="description"> – стенографируем записи. <strong>Быстро, конфиденциально.</strong></span>
</div>

<section class="records row-fluid">
    
    <section class="col-sm-4" ng-show="(records | filter : { order: '!0' }).length > 0">
        <h4>Загруженные</h4>

        <ul class="list-unstyled">
            <li ng-repeat="record in records | filter : { order: '!0' }" 
                ng-mouseenter="show = true" 
                ng-mouseleave="show = false" 
                ng-hide="record.trashed_at > 0">
                
                <h6>
                    {{ record.title }}
                    <nobr>
                        <small ng-hide="record.duration < 3600">{{ record.duration | humanSeconds }}</small><small>&nbsp;{{ record.duration / 3600 > 1 ? ((record.duration / 3600) - floor(record.duration/3600)) * 3600 : record.duration | humanSeconds }}</small>
                    </nobr>
                </h6>
                 <a class="btn btn-danger btn-xs pull-right" href 
                        ng-click="record = remove(record)"
                            ng-show="record.progress === 0 && show"><i class="fa fa-trash-o fa-lg"></i></a>
            
                    <button class="btn btn-default btn-xs" 
                            ng-click="order(record)">Распознать за {{ (record.duration / 60) * 12 | number: 0 }} &#8399;</button>

            </li>
        </ul>
    </section>
    <section class="inprogress col-sm-4" ng-show="(records | filter : { completed: '!100', order: '0' }).length > 0">
        <h4>В работе</h4>

        <ul class="list-unstyled">
            <li ng-repeat="record in records | filter : { completed: '!100', order: '0' }" 
                ng-mouseenter="show = true" 
                ng-mouseleave="show = false" 
                ng-hide="record.trashed_at > 0">
                
                <h6>
                    {{ record.title }}
                    <nobr>
                        <small ng-hide="record.duration < 3600">{{ record.duration | humanSeconds }}</small><small>&nbsp;{{ record.duration / 3600 > 1 ? ((record.duration / 3600) - floor(record.duration/3600)) * 3600 : record.duration | humanSeconds }}</small>
                    </nobr>
                </h6>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ record.completed }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ record.completed }}%">
                            <span class="sr-only"></span>
                            {{ record.duration * record.completed / 100 | secondsToDateTime | date: record.duration > 3600 ? 'HH:mm:ss' :'mm:ss' }}
                    </div>
                </div>


            </li>
        </ul>
    </section>
    <section class="finished col-sm-4" ng-show="(records | filter : { progress: '4' }).length > 0">
        <h4>Готовые записи</h4>
        <ul class="list-unstyled">
            <li ng-repeat="record in records | filter : { progress: '4' }" class="record">
                <h6>{{ record.title }}
                    <nobr>
                        <small ng-hide="record.duration < 3600">{{ record.duration | humanSeconds }}</small><small>&nbsp;{{ record.duration / 3600 > 1 ? ((record.duration / 3600) - floor(record.duration/3600)) * 3600 : record.duration | humanSeconds }}</small>
                    </nobr>
                </h6>
                <span ng-repeat="export in record.exports">
                    <a href="{{ export.export_file }}" download="{{ record.title }}.doc" class="btn btn-default btn-xs" ng-show="export.file_format == 'doc'">
                        <i class="fa fa-file-word-o fa-xs"></i> Word</a>
                    <a href="{{ export.export_file }}" download="{{ record.title }}.xls" class="btn btn-default btn-xs" ng-show="export.file_format == 'xls'">
                        <i class="fa fa-file-excel-o fa-xs"></i> Excel</a>
                    <a href="{{ export.export_file }}" download="{{ record.title }}.srt" class="btn btn-default btn-xs" ng-show="export.file_format == 'srt'">
                        <i class="fa fa-comments-o fa-xs"></i> Субтитры</a>
                </span>
                
            </li>
        </ul>
    </section>
</section>
