<form id="id_record_form" ng-submit="upload()">
    <div class="modal-header">
        <h3 class="modal-title">Распознать запись</h3>
    </div>
    <div class="modal-body">
        <ul class="upload__records list-unstyled">
            <li ng-repeat="item in uploader.queue">
                <div class="form-group">
                    <label>Название записи:</label>
                    <input ng-model="item.formData[0].title" required name="username"
                           type="text" placeholder="Название записи" class="form-control">
                </div>

                <div class="form-group">
                    <div class="btn-group">
                        <label class="btn btn-default" ng-model="item.formData[0].speakers" btn-radio="'1'">1</label>
                        <label class="btn btn-default active" ng-model="item.formData[0].speakers" btn-radio="'2'">2</label>
                        <label class="btn btn-default" ng-model="item.formData[0].speakers" btn-radio="'3'">3</label>
                        <label class="btn btn-default" ng-model="item.formData[0].speakers" btn-radio="'4'">4+</label>
                    </div>
                    <label class="speakers">собеседника</label>
                    <label class="duration pull-right">{{ sound.duration | humanSeconds }}
                </div>

                <p>
                Вы можете заказать стенографирование <strong>за {{ sound.duration / 60 * 15 | number: 0 }} ₽</strong></nobr>
                </p>
                
            </li>
        </ul>
    </div>
    <div class="modal-footer" ng-hide="uploader.progress">
        <button class="btn btn-default" ng-click="cancel()">Отмена</button>
        <input type="submit" class="btn btn-primary" ng-click="startUpload()" value="Загрузить">
    </div>
    <div class="modal-footer" ng-show="uploader.progress">
        <div class="progress" style="">
            <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
        </div>
    </div>
</form>
