<div class="records-upload" 
    ng-controller="RecordUploadCtrl">
    <a href class="btn btn-default" ng-click="upload()">
        <i class="fa fa-microphone fa-lg"></i> Загрузить запись</a>
    <input type="file" accept="audio/*" nv-file-select="" uploader="uploader" />
    <span class="description"> – стенографируем по цене <strong>20 ₷ минута</strong> записи. За 20 минут будет готова часовая запись.</span>
</div>

<section class="records">
    <section class="finished" ng-show="(records | filter : { completed_percentage: '100' }).length > 0">
        <h2>Готовые записи</h2>
        <ul>
            <li ng-repeat="record in records | filter : { completed_percentage: '100' }">
                <a href="{{ record.url }}">{{ record.title }}</a>
                <span>{{ record.duration }}</span>
            </li>
        </ul>
    </section>
    <section class="inprogress" ng-show="(records | filter : { completed_percentage: '!100' }).length > 0">
        <h2>В работе</h2>

        <ul>
            <li ng-repeat="record in records | filter : { completed: '!100' }" 
                ng-mouseenter="show = true" 
                ng-mouseleave="show = false" 
                ng-hide="record.trashed_at > 0">
                <div class="progress records_list__progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ record.completed }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ record.completed }}%">
                        <span class="sr-only"></span>
                    </div>
                </div>
                
                <div class="details">
                    <a href="/#/record/{{ record.id }}" class="title">{{ record.title }}</a> 
                    <a class="btn btn-danger btn-xs pull-right" href 
                        ng-click="record = remove(record)"
                            ng-show="record.progress === 0 && show"><i class="fa fa-trash-o fa-lg"></i></a>
                </div>
                
                
                <div class="record_list__item-duration" ng-show="record.duration > 0">{{ record.duration | humanSeconds }}</div>
                <div class="record_list__item-status">
                    <span class="label label-success" 
                            ng-show="record.progress === 1">Распознаётся</span>
                    <span class="label label-default" 
                            ng-show="record.duration === 0">Подготовка</span>
                </div>
                <div class="record_list__item-controls" 
                    >   
                    <button class="btn btn-default btn-xs" 
                            ng-show="record.duration > 0 && record.progress === 0 && show"
                            ng-click="order(record)">Распознать за {{ (record.duration / 60) * 15 | number: 0 }} ₷</button>
                </div>

            </li>
        </ul>
    </section>
</section>
