<form id="id_auth_form" ng-submit="authLogin()" ui-keypress="{13:'authLogin()'}">
    
    <div class="modal-header">
        <h3 class="modal-title text-line" ng-hide="password_reset">Вход через социальную сеть</h3>
        <h3 class="modal-title text-line" ng-show="password_reset">Восстановление пароля</h3>
    </div>

    <div class="modal-body">
            <div class="centered-text social-auth" ng-hide="password_reset">
                <a tabindex="1" ng-click="popup('/api/social/login/vk-oauth/')" title="Войти через Вконтакт"><div class="social" aria-hidden="true" data-icon="&#xe003;"></div></a>
                <a tabindex="2" ng-click="popup('/api/social/login/facebook/')" title="Войти через Фейсбук"><div class="social" aria-hidden="true" data-icon="&#xe021;"></div></a>
                <a tabindex="3" ng-click="popup('/api/social/login/google-oauth2/')" title="Войти через Google"><div class="social" aria-hidden="true" data-icon="&#xe01b;"></div></a>
                <h4 class="text-line">или используя электронную почту</h4>
            </div>

            <p ng-show="password_reset">Мы вышлем ссылку для восстановления пароля на вашу почту</p>
            <p ng-show="password_reset_success">Ссылка для востановления пароля отправлена вам на почту</p>

            <div class="form-group" ng-hide="password_reset_success">
                <input tabindex="4" ng-model="username" required name="username"
                       type="email" placeholder="Адрес электронной почты" alt="Войти через электронную почту" class="form-control"
                       id='auth_username'>
            </div>

            <div class="auth-password" ng-hide="password_reset">
                <div class="form-group">
                        <div class="btn-group">
                            <label class="btn btn-default active" ng-model="new_user" btn-radio="'1'" tabindex="5">Я новый пользователь</label>
                            <label class="btn btn-default" ng-model="new_user" btn-radio="'2'" tabindex="6">Я уже зарегистрирован</label>
                        </div>
                    </div>
                <div class="form-group" ng-show="new_user > 0">
                    <input ng-model="password" required name="password" type="password"
                           placeholder="Пароль" alt="Пароль" class="form-control" tabindex="7">
                </div>
                <div  class="form-group" ng-show="new_user == 1">
                    <input ng-model="repeat_password" name="repeat_password" type="password"
                           placeholder="Повторите пароль" alt="Повторить пароль" class="form-control" tabindex="8"> 
                </div>
                <div class="password-recovery text-line" ng-show="new_user == 2">
                    <a href="#" ng-click="password_reset = 1">Восстановить пароль</a>
                </div>
            </div>
    </div>

    <div class="modal-footer">
        <alert ng-repeat="alert in alerts" type="{{ alert.type }}" close="closeAlert($index)">{{ alert.msg }}</alert>
        <input type="submit" ng-hide="logining || password_reset" class="btn btn-primary" ng-value="new_user == 1 ? 'Зарегистрировать и войти' : 'Войти'" alt="Войти" tabindex="9">
        <a ng-show="password_reset && password_reset_success === 0" ng-click="passwordReset()" class="btn btn-primary" alt="Восстановить пароль" tabindex="10">Восстановить пароль</a>

        <a ng-show="password_reset_success" ng-click="cancel()" class="btn btn-default" alt="Закрыть" tabindex="10">Закрыть</a>
    </div>

</form>
