{% extends "admin/change_form.html" %}


{% block after_related_objects %}
  <fieldset class="module aligned">
        <h2>Emails</h2>
            <div class="form-row field-emails">
                <div>
                    {% for mail in original.emails %}
                        <h5>
                            <a role="button" data-toggle="collapse" href="#mail-{{ mail.id }}" aria-expanded="false" aria-controls="mail-{{ mail.id }}">
                            {{ mail.subject }}</a> <small>To: {{ mail.to_header }}</small></h5>
                             <small>{{ mail.processed }}</small>
                        <div class="collapse" id="mail-{{ mail.id }}" style="display: none;">
                            <pre>{{ mail.text }}</pre>
                        </div>
                        
                    {% endfor %}
                </div>

            </div>
    </fieldset>


    <script>
    jQuery(document).ready(function($) {
        $("a[data-toggle='collapse']").click(function(e) {
            var id = $(this).attr('href');
            e.preventDefault();
          $(id).toggle();
        });
    });
    </script>
{% endblock %}
