<form id="id_auth_form" ng-submit="login()">
    <div class="modal-header">
        <h3 class="modal-title">Вход через социальную сеть</h3>
    </div>
    <div class="modal-body">
            <div class="centered-text">
                <a href="/api/social/login/vk-oauth/"><div class="social" aria-hidden="true" data-icon="&#xe003;"></div></a>
                <a href="/api/social/login/facebook/"><div class="social" aria-hidden="true" data-icon="&#xe021;"></div></a>
                <div class="social" aria-hidden="true" data-icon="&#xe01b;"></div>
                <div class="social" aria-hidden="true" data-icon="&#xe001;"></div>
                <h4>или используя логин и пароль</h4>
            </div>
            <div class="form-group">
                <label>Электропочта:</label>
                <input ng-model="username" required name="username"
                       type="text" placeholder="Адрес электронной почты" class="form-control">
            </div>
            <div class="form-group">
                <label>Пароль:</label>
                <input ng-model="password" required name="password" type="password"
                       placeholder="Пароль" class="form-control">
            </div>
            <a href="#">Вспомнить пароль</a>
            
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="dismiss()">Отмена</button>
        <input type="submit" class="btn btn-primary" ng-click="login()" value="Войти">
    </div>
</form>
