<div class="modal-header">
    <h3 class="modal-title text-line">Стенографирование аудио и видео</h3>
</div>

<div class="modal-body">
        <p><span class="btn btn-default btn-file">Загрузите файл<input type="file" accept="audio/*" nv-file-select="" uploader="uploader"></span> – посмотрите сколько стоит расшифровка</p>
        <p>В результате вы получите стенограмму в удобном вам формате, например: Word, Excel, субтитры.</p>
        
        <p>Можете <a ui-sref="contacts" ng-click="cancel()">связаться с нами</a> сами и обсудить условия, мы договоримся.</p>
    </div>
</div>

<div class="modal-footer">
    <alert ng-repeat="alert in alerts" type="{{ alert.type }}" close="closeAlert($index)">{{ alert.msg }}</alert>
    
    <a ng-click="cancel(); callback()" class="btn btn-primary" alt="Заказать обратный звонок" tabindex="10">Заказать обратный звонок</a>
</div>
