
.mainpage {
    margin-top: 60px;

    .logo {
        margin-left: -261px;
    }

    h1 {
        font-size: 19px;
        font-weight: 100;
        
        margin-top: -24px;
        margin-left: -5px;
        margin-bottom: 14px;
    }

    .description {
        padding-top: 70px;
    
        h6 {
            margin-bottom: 2px;
        }

        p {
            font-family: 'Roboto';
            font-size: 11px;
        }

    }
    
    .upload {
        .upload-button {
            padding-top: 2px;
        }       

        text-align: left;

        p {
            padding-left: 11px;
            padding-top: 5px;
            padding-bottom: 0;
            margin: 0;

            font-weight: 300;
            font-size: 12px;

            strong {
                font-weight: 500;
            }
        }
    
        a {
            font-size: 12px;
            font-weight: 300;
        }
        
        .price {
            margin-right: 3px;
            font-size: 16px;
            border-bottom: 1px dashed #000000;
            cursor: pointer;
        }

        h6 {
            margin-left: 11px;
            margin-bottom: 5px;
        }
        
        .free {
            ul {
                margin-left: 11px;
                font-family: 'Roboto';

                strong {
                    font-weight: 400;
                }
            }
        }
    }


}