<section class="mainpage">
    <section class="col-md-offset-1 col-md-3 logo">
        <img src="/static/assets/logo_slogan.svg">
        
    </section>
    <section class="col-md-6 transcribe">
        <a ui-sref="work" class="btn btn-primary btn-xs work" alt="Задания на транскрибацию">Зарабатывайте</a>
        <p class="desc">
            <nobr>Печатайте под диктовку,</nobr>
            <nobr>оплата за каждую букву</nobr>
        </p>
        <p ng-hide="true">
            <strong>Около 1000 ₷ в день</strong>
        </p>
        
        <div class="controls">
            <button class="btn btn-default btn-xs" 
                    ng-click="authModal()"
                    ng-hide="currentUser.id" alt="Войти">Войти</button>

            <div ng-show="currentUser.id">
                <div class="btn-group" dropdown>
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" dropdown-toggle ng-disabled="disabled">{{ currentUser.username }} <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a ui-sref="history">История вашей работы</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#" ng-click="logout()">Выход</a>
                        </li>
                    </ul>
                </div>
               <p class="balance"> На счету: <strong>{{ currentUser.work_length | number : 0 }} знаков</strong></p>
            </div>
        </div>

    </section>
</section>