{% extends "admin/change_form.html" %}

{% block extrastyle %}{{ block.super }}
<script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.0.52/wavesurfer.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.1.2/plugin/wavesurfer.regions.min.js"></script>
{% endblock %}


{% block content %}
<div id="waveform"></div>

<div style="text-align: center">
  <button class="btn btn-primary" onclick="wavesurfer.playPause()">
    <i class="glyphicon glyphicon-play"></i>
    Play
  </button>

  <p class="row">
    <div class="col-xs-1">
      <i class="glyphicon glyphicon-zoom-in"></i>
    </div>

    <div class="col-xs-10">
      <input id="slider" type="range" min="1" max="200" value="1" style="width: 100%" />
    </div>

    <div class="col-xs-1">
      <i class="glyphicon glyphicon-zoom-out"></i>
    </div>
  </p>
</div>

<script type="text/javascript">
    var wavesurfer = WaveSurfer.create({
        container: '#waveform',
        waveColor: 'violet',
        progressColor: 'purple'
    });

    wavesurfer.load('{{ original.audio_file.url|safe }}');

    wavesurfer.on('ready', function () {
      // Enable creating regions by dragging
      wavesurfer.enableDragSelection();

    {% for piece in original.pieces.all %}
    console.log({{piece.start_at}});
        wavesurfer.addRegion({
            start: Math.floor({{ piece.start_at }}), // time in seconds
            end: Math.floor({{ piece.end_at }}), // time in seconds
            color: 'hsla(100, 100%, 30%, 0.1)'
        });
     
    {% endfor %}
      // Add a couple of pre-defined regions
      
    });

    var slider = document.querySelector('#slider');

    slider.oninput = function () {
      var zoomLevel = Number(slider.value);
      wavesurfer.zoom(zoomLevel);
    };

    
</script>

{{ block.super }}
{% endblock %}
