{% extends "admin/change_form.html" %}

{% block extrastyle %}{{ block.super }}
<script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.0.52/wavesurfer.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.1.2/plugin/wavesurfer.regions.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.0.57/plugin/wavesurfer.timeline.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

{% endblock %}


{% block content %}
<div id="waveform"></div>
<div id="waveform-timeline"></div>


<div>
  <button class="btn btn-primary" onclick="wavesurfer.playPause()">
    <i class="glyphicon glyphicon-play"></i>
    Play
  </button>

  <p class="row">
    <div class="col-xs-1">
      <i class="glyphicon glyphicon-zoom-in"></i>
    </div>

    <div class="col-xs-10">
      <input id="slider" type="range" min="1" max="200" value="1" style="width: 100%" />
    </div>

    <div class="col-xs-1">
      <i class="glyphicon glyphicon-zoom-out"></i>
    </div>
  </p>
</div>

<script type="text/javascript">
    var wavesurfer = WaveSurfer.create({
        container: '#waveform',
        waveColor: '#0677A2',
        progressColor: '#888888'
    });

    wavesurfer.load('{{ original.audio_file.url|safe }}');

    wavesurfer.on('ready', function () {
      // Enable creating regions by dragging
      // wavesurfer.enableDragSelection();
        var timeline = Object.create(WaveSurfer.Timeline);

          timeline.init({
            wavesurfer: wavesurfer,
            container: '#waveform-timeline'
          });
        var pieces = [];
    {% for piece in original.pieces.all %}
        pieces.push([{{ piece.start_at }}, {{ piece.end_at }}, {{ piece.recognize_status }}]);
    {% endfor %}

    for(var piece_id in pieces) {
        var piece = pieces[piece_id],
            start_at = piece[0],
            end_at = piece[1],
            status = piece[2];

        switch(status) {
            case 0: 
                color = 'hsla(360, 100%, 25%, 0.1)';
                break;
            case 1:
                color = 'hsla(50, 100%, 25%, 0.1)';
                break;
            case 2:
                color = 'hsla(100, 100%, 30%, 0.1)';
                break;
            case 3: 
                color = 'hsla(100, 100%, 30%, 0.3)';
                break;
            default:
                color = 'hsla(230, 100%, 25%, 0.1)';
        }

        wavesurfer.addRegion({
            start: Math.floor(start_at), // time in seconds
            end: Math.floor(end_at), // time in seconds
            color: color
        });
    }
        
     
    

      // Add a couple of pre-defined regions
      
    });

    var slider = document.querySelector('#slider');

    slider.oninput = function () {
      var zoomLevel = Number(slider.value);
      wavesurfer.zoom(zoomLevel);
    };

    
</script>

{{ block.super }}
{% endblock %}
