[uwsgi]
uid=%(EC2_SERVER_USERNAME)s
gid=%(EC2_SERVER_USERNAME)s

chdir           = /home/%(EC2_SERVER_USERNAME)s/%(PROJECT_NAME)s
module          = app.wsgi
home            = /home/%(EC2_SERVER_USERNAME)s

master          = true
processes       = 10
socket          = /home/%(EC2_SERVER_USERNAME)s/%(PROJECT_NAME)s/app/wsgi.sock
chmod-socket    = 666 
vacuum          = true
